body{
   font-size: Arial , sans-serif; 
   text-align: center;
   background-image: url("xoo.jpg") ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
h1{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#status{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}
.board{
    width: 330px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap:  10px;
}
.cell{
    height: 100px;
    font-size:  40px;
    font-weight: bold;
    cursor: pointer;
}
.cell.o {color: brown ;}
.cell.x{ color: blue;}